<h1>Changelog</h1>

<table class="table">
  <thead>
    <tr>
      <th>change</th>
      <th>time</th>
      <th>user</th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= link_to change, change_path(change) %></td>
        <td><%= change.created_at %> (<%= time_ago_in_words change.created_at %> ago)</td>
        <td><%= change.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
