<h1>CMS Bootstrap</h1>

<table class="table">
  <tbody>
    <tr><td><a href="/sites">Sites</a></td></tr>
    <tr><td><a href="/pages">Pages</a></td></tr>
    <tr><td><a href="/widgets">Widgets</a></td></tr>
  </tbody>
</table>
